@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

::selection{
  color: #40ACF1;
  background-color: #292F36;
}
:root{
  scrollbar-color: #40ACF1 #292F36;
  scrollbar-width: thin !important;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #292F36;
}
::-webkit-scrollbar-thumb{
  background-color: #40ACF1;
  border-radius: 20px;
}
:root{
  --mainBlue:#40ACF1;
  --transparentBlue:rgba(64, 172, 241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgb(216, 214, 214);
  --mainYellow:#e3b505;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Roboto', sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
}